<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ruby Co-op - "None of us is as smart as all of us"</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/rubycoop" />
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a href="http://github.com/dovadi/rubycoop"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
    <div id="container">
      <div id="header">
        <h1><span><a href="/">Ruby Co-op</a></span></h1>
        <h2>"None of us is as smart as all of us"</h2>
      </div>

      <div id="page">
        <div id="content">
          {{content}}
        </div> <!--content -->

        <div id="sidebar">

          <h3><a href="http://feeds.feedburner.com/dovadi"><img src="/images/feed.png" /></a><a href="http://feeds.feedburner.com/rubycoop"> RSS feed</a></h3>

          <div class="sidebar-node">
            <h3>Proposal</h3>
            <ul>
              <li><a class="selected" href="/" title="Home">Home</a></li>
              <li><a href="/definitions.html" title="Definitions">Definitions</a></li>
              <li><a href="/portfolio" title="Projects">Projects</a></li>
              <li><a href="/co-working" title="CoWorking">CoWorking</a></li>
              <li><a href="/ideal" title="iDEAL">iDEAL</a></li>
              <li><a href="/trainees" title="Trainees">Trainees</a></li>
              <li><a href="/dutch" title="Dutch articles">Dutch articles</a></li>
            </ul>
          </div>

          <div class="sidebar-node">
            <h3>Contact</h3>
            <ul>
              <li>Agile Dovadi B.V</li>
              <li>Laagwaalderweg 38</li>
              <li>1793 ED De Waal</li>
              <li>Netherlands</li>
              <li>+31 (0)6 494 16 406</li>
              <li>frank.oxener-at-dovadi.com</li>
            </ul>
          </div>
          <br style="clear:both;" />

        </div><!--sidebar-->

        <div id="footer">
          <hr />
          <p><a href="/">Dovadi</a></p>

        </div><!--footer-->

      </div><!--page-->

        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-410122-5");
        pageTracker._initData();
        pageTracker._trackPageview();
        </script>
        <script type="text/javascript">
        //<![CDATA[
        (function() {
        	var links = document.getElementsByTagName('a');
        	var query = '?';
        	for(var i = 0; i < links.length; i++) {
        	if(links[i].href.indexOf('#disqus_thread') >= 0) {
        		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        	}
        	}
        	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/rubycoop/get_num_replies.js' + query + '"></' + 'script>');
        })();
        //]]>
        </script>
  </body>
</html>